  *{
	 margin: 0;
	 padding: 0;
	 box-sizing: border-box;
 }

.container {
	background: linear-gradient(45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	/* background: linear-gradient(45deg,#6e046e, #0a1742); */
	background-size: 1000% 1000%;
	/* height: 100vh; */
	animation: gradient 10s ease-in-out infinite;
}

.nav {
	color: gray;
}


h1 {
	font-size: 1.5rem;
}

.line {
	width: 30px;
	height: 2px;
	background: white;
	margin-bottom: 5px;
}

.line2 {
	width: 100%;
	height: 2px;
	background: gray;
}

.nav {
	font-size: 4rem;
	background-color: rgba(100, 100, 100, 0.7);
}

.close-button {
	font-size: 1.5rem;
	position: absolute;
	top: 0.3rem;
	right: 1rem;
	width: 30px;
	text-align: center;
}

.fade-in {
	animation: fade-in 1s ease;
}

.fade-out {
	animation: fade-out 1s ease;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes fade-in{
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fade-out{
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
