 *{
	 margin: 0;
	 padding: 0;
	 box-sizing: border-box;
 }

 body {
	background: linear-gradient(-45deg, #c3502d, #c52864, #1d4483, #1c9956);
	animation: change 10s ease-in-out infinite;
	width: 100%;
	height: 100vh;
}

@keyframes change {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}