  *{
	 margin: 0;
	 padding: 0;
	 box-sizing: border-box;
	 font-family: 'Roboto', sans-serif;
	 /* font-family: 'Montez', cursive; */
	 color: gray;
 }

 section h1{
	font-size: 2rem;
	
 }

 header {
	background-image:url("../img/sakura.jpg");
	/* filter: grayscale(100%); */
	width: 100%;
	height: 100%;
	position: absolute;
	background-position:40%;
}

.header-back {
	background: linear-gradient(45deg,  #23d5ab,#23a6d5,#e73c7e, #ee7752);
	/* background: linear-gradient(45deg,#6e046e, #0a1742); */
	background-size: 600% 600%;
	/* height: 100vh; */
	animation: gradient 10s ease-in-out infinite;
	opacity: 0.8;
}

.nav {
	color: gray;
}


h1 {
	font-size: 1.5rem;
}

.line {
	width: 30px;
	height: 2px;
	background: white;
	margin-bottom: 5px;
}

.line2 {
	width: 100%;
	height: 2px;
	background: gray;
}

.under-line {
	width: 80%;
	height: 1px;
	background: gray;
}

.nav {
	font-size: 4rem;
	background-color: rgba(100, 100, 100, 0.7);
}

.humburger {
	cursor: pointer;
}

button:focus {
	outline: 0;
}

.close {
	position: absolute;
	right: 0.5rem;
	color: white;
	font-size: 3rem;
	opacity: 1;
}

.nav-text:hover {
	opacity: 0.7;
}

.close:hover {
	cursor: pointer;
}

.fade-in {
	animation: fade-in 0.5s ease;
}

.fade-out {
	animation: fade-out 0.5s ease;
}


.profile-wrap {
	position: relative;
}

.profile {
	width: 100%;
	filter: grayscale(100%);
	background-repeat: no-repeat;
}

.about {
	width: 100%;
 	position: absolute;
 	color: white;
 	top: 0;
}

.under-line-about {
	width: 80%;
	height: 1px;
	background: white;
	position: absolute;
	top: 25%;
	left: 10%;
}

.skills-wrap {
	width: 90%;
	margin: 0 auto;
	color: gray;
}

.skill {
	font-size: 0.75rem;
}

.progress {
	border-radius: 0;
}
#Myproject {
	background-color: whitesmoke;
}

.project {
	position: relative;
	width: 100%;
	margin: 0 auto;
}

.project-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: whitesmoke;
	opacity: 0;
	transition: all 0.5s ease;
}

.project-overlay:hover {
	opacity: 1;
}

.project-image {
	width: 100%; 
}

.project-title {
  padding-top: 1rem;
	width: 100%;
	text-align: center;
	color: gray;
} 

.project-exp {
	text-align: center;
	color: gray;
}

.project-link {
	position: absolute;
	bottom: 5%;
	left: 50%;
	transform: translate(-50%, -50%);
	white-space: nowrap;
	color: gray;
	border: 2px solid #0275d8;
	transition: all .5s ease-in-out;
	padding: 0.5rem;
}

 .project-link:hover {
	 background-color: #0275d8;
	 color: white;
	 text-decoration: none;
	 opacity: 1;
 }

.mail-container {
	display: flex;
	justify-content: center;
}

.mail-link {
	color: gray;
	border: 1px solid gray;
	margin: 0 auto;
	padding: 0 0.5rem 0 0.5rem;
}

.jump-container {
	display: flex;
	justify-content: center;
	font-size: 2.5rem;
}

.fas {
	background: linear-gradient(#23a6d5,#e73c7e);
	-webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

footer {
	background-color:whitesmoke;
	color: gray;
}


.fab {
	height: 1.5rem;
	padding-top: 1rem;
	color: gray;
}

.flag {
	height: 1rem;
	margin-top: 0.75rem;
  border: 1px solid lightgray;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes fade-in{
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fade-out{
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
